.contact {
	position: relative;
	background-color: var(--bg-default);

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1em;
		font-size: 2rem;
		text-align: center;

		svg {
			min-width: 6rem;
			min-height: 6rem;
			color: var(--color-accent);
		}

		a {
			transition: color 0.3s;

			&:hover {
				color: var(--color-accent);
			}
		}
	}

	@media (width >= 792px) and (width <= 1173px) {
		.item-wrapper {
			gap: 8rem;
		}
		.contact__item:last-child {
			grid-column-end: span 2;
		}
	}

	@media (width < 792px) {
		.contact__item {
			flex-direction: row;
			font-size: 1.6rem;
			text-align: left;

			svg {
				min-width: 5rem;
				min-height: 5rem;
			}
		}
	}
}
